# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# production
build

# env (note: .env is intentionally committed)
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# misc
.DS_Store
*.pem
npm-debug.log*
